<a href="https://colab.research.google.com/github/IBeliveInMagic/Covid_Dados/blob/main/Covid_19_Ocupation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [116]:
#Ocupation- 2020
!wget https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2020.csv
#Ocupation- 2021
!wget https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2021.csv
#Ocupation- 2022
!wget https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2022.csv

--2023-01-04 02:55:19--  https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2020.csv
Resolving s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)... 52.95.163.80
Connecting to s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)|52.95.163.80|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 124779568 (119M) [binary/octet-stream]
Saving to: ‘esus-vepi.LeitoOcupacao_2020.csv.2’

esus-vepi.LeitoOcup 100%[===================>] 119.00M  21.3MB/s    in 6.5s

2023-01-04 02:55:26 (18.4 MB/s) - ‘esus-vepi.LeitoOcupacao_2020.csv.2’ saved [124779568/124779568]

--2023-01-04 02:55:26--  https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2021.csv
Resolving s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)... 16.12.0.4
Connecting to s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)|16.12.0.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 166963859 (159M) [binary/octet-stream]
Saving to: ‘esus-vepi.LeitoOcupacao_2021.csv.2’

esus-vepi.LeitoOcup 100%[===================>] 159.23M  19.3MB/s    in 9.1s

2023-01-04 02:55:36 (17.5 MB/s) - ‘esus-vepi.LeitoOcupacao_2021.csv.2’ saved [166963859/166963859]

--2023-01-04 02:55:36--  https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2022.csv
Resolving s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)... 16.12.1.4
Connecting to s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)|16.12.1.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45256733 (43M) [binary/octet-stream]
Saving to: ‘esus-vepi.LeitoOcupacao_2022.csv.2’

esus-vepi.LeitoOcup 100%[===================>]  43.16M  14.1MB/s    in 3.1s

2023-01-04 02:55:40 (14.1 MB/s) - ‘esus-vepi.LeitoOcupacao_2022.csv.2’ saved [45256733/45256733]

In [117]:
import pandas as pd
import numpy as np
import datetime
from matplotlib import pyplot as plt
import seaborn as sns
from datetime import datetime,timedelta

In [118]:
data_2020 = pd.read_csv('esus-vepi.LeitoOcupacao_2020.csv', sep=',')
data_2021 = pd.read_csv('esus-vepi.LeitoOcupacao_2021.csv', sep=',')
data_2022 = pd.read_csv('esus-vepi.LeitoOcupacao_2022.csv', sep=',')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [119]:
DF_Total = pd.concat([data_2020,data_2021,data_2022])

In [120]:
DF_Total.columns

Index(['Unnamed: 0', '_id', 'dataNotificacao', 'cnes', 'ocupacaoSuspeitoCli',
       'ocupacaoSuspeitoUti', 'ocupacaoConfirmadoCli', 'ocupacaoConfirmadoUti',
       'ocupacaoCovidUti', 'ocupacaoCovidCli', 'ocupacaoHospitalarUti',
       'ocupacaoHospitalarCli', 'saidaSuspeitaObitos', 'saidaSuspeitaAltas',
       'saidaConfirmadaObitos', 'saidaConfirmadaAltas', 'origem', '_p_usuario',
       'estadoNotificacao', 'municipioNotificacao', 'estado', 'municipio',
       'excluido', 'validado', '_created_at', '_updated_at'],
      dtype='object')

In [121]:
DF_Total = DF_Total.iloc[: , [2,7,14,18]]

In [122]:
DF_Total_clear = DF_Total.dropna()

In [123]:
DF_Total_clear

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
0,2020-04-14T03:00:00.000Z,0.0,0.0,Santa Catarina
1,2020-04-15T03:00:00.000Z,0.0,0.0,Rio de Janeiro
2,2020-04-15T14:57:16.255Z,2.0,0.0,Rio de Janeiro
3,2020-03-24T03:00:00.000Z,0.0,0.0,Ceará
4,2020-04-01T03:00:00.000Z,0.0,0.0,Rio Grande do Sul
...,...,...,...,...
556986,2021-09-13T03:00:11.672Z,1.0,0.0,Minas Gerais
557080,2021-09-13T03:00:19.827Z,1.0,1.0,Santa Catarina
558967,2021-09-14T03:00:00.793Z,0.0,0.0,Minas Gerais
559504,2021-09-14T03:00:29.182Z,1.0,0.0,Minas Gerais
0,2022-01-17T03:00:00.000Z,0.0,0.0,Santa Catarina

# **Goiás**

In [124]:
# filtrar linhas e ficar somente com os estados do Centro Oeste - Goiás
df_mask=DF_Total_clear['estadoNotificacao']=='Goiás'
df_GO = DF_Total_clear[df_mask]

In [125]:
df_GO

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
81,2020-04-15T03:00:00.000Z,0.0,0.0,Goiás
107,2020-04-15T19:37:37.168Z,0.0,0.0,Goiás
123,2020-04-15T20:04:33.257Z,0.0,0.0,Goiás
124,2020-04-15T19:58:37.058Z,0.0,0.0,Goiás
187,2020-04-15T03:00:00.000Z,0.0,0.0,Goiás
...,...,...,...,...
553401,2021-09-11T03:00:23.540Z,0.0,0.0,Goiás
554435,2021-09-12T03:00:44.393Z,0.0,0.0,Goiás
554492,2021-09-12T03:00:31.319Z,0.0,0.0,Goiás
554694,2021-09-12T03:00:03.541Z,0.0,0.0,Goiás
554793,2021-09-12T03:00:45.766Z,0.0,0.0,Goiás

# **Mato Grosso**

In [126]:
# filtrar linhas e ficar somente com os estados do Centro Oeste - Mato Grosso
df_mask=DF_Total_clear['estadoNotificacao']=='Mato Grosso'
df_MT = DF_Total_clear[df_mask]

In [127]:
df_MT

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
786,2020-04-16T04:00:00.000Z,0.0,0.0,Mato Grosso
1896,2020-04-18T13:48:18.691Z,0.0,0.0,Mato Grosso
2126,2020-04-19T14:20:40.207Z,0.0,0.0,Mato Grosso
2355,2020-04-20T13:53:53.120Z,0.0,0.0,Mato Grosso
2439,2020-04-20T03:00:00.000Z,0.0,0.0,Mato Grosso
...,...,...,...,...
552023,2021-09-10T04:00:10.706Z,7.0,0.0,Mato Grosso
552043,2021-09-10T04:00:56.851Z,6.0,0.0,Mato Grosso
553449,2021-09-11T04:00:10.322Z,0.0,0.0,Mato Grosso
554668,2021-09-12T04:00:15.855Z,0.0,0.0,Mato Grosso
554699,2021-09-12T04:00:44.541Z,7.0,0.0,Mato Grosso

# **Mato Grosso do Sul**

In [128]:
# filtrar linhas e ficar somente com os estados do Centro Oeste - Mato Grosos do Sul
df_mask=DF_Total_clear['estadoNotificacao']=='Mato Grosso do Sul'
df_MS = DF_Total_clear[df_mask]

In [129]:
df_MS

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
62,2020-04-15T19:18:27.505Z,10.0,0.0,Mato Grosso do Sul
78,2020-04-01T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
79,2020-04-02T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
80,2020-04-03T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
82,2020-04-15T19:46:53.541Z,0.0,0.0,Mato Grosso do Sul
...,...,...,...,...
549110,2021-09-09T04:00:43.181Z,2.0,0.0,Mato Grosso do Sul
551284,2021-09-10T04:00:59.655Z,4.0,0.0,Mato Grosso do Sul
553164,2021-09-11T03:00:04.688Z,3.0,0.0,Mato Grosso do Sul
553355,2021-09-11T04:00:06.062Z,1.0,1.0,Mato Grosso do Sul
554513,2021-09-12T03:00:35.887Z,3.0,0.0,Mato Grosso do Sul

# **Distrito Federal**

In [130]:
# filtrar linhas e ficar somente com os estados do Centro Oeste - Distrito Federal
df_mask=DF_Total_clear['estadoNotificacao']=='Distrito Federal'
df_DF = DF_Total_clear[df_mask]

In [131]:
df_DF

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
1352,2020-04-09T03:00:00.000Z,3.0,0.0,Distrito Federal
1361,2020-04-10T03:00:00.000Z,2.0,0.0,Distrito Federal
1365,2020-04-11T03:00:00.000Z,1.0,0.0,Distrito Federal
1369,2020-04-12T03:00:00.000Z,1.0,0.0,Distrito Federal
1371,2020-04-14T03:00:00.000Z,1.0,0.0,Distrito Federal
...,...,...,...,...
553362,2021-09-11T03:00:42.121Z,0.0,0.0,Distrito Federal
554399,2021-09-11T03:00:00.000Z,8.0,0.0,Distrito Federal
554613,2021-09-11T03:00:00.000Z,5.0,0.0,Distrito Federal
554619,2021-09-12T03:00:48.156Z,0.0,0.0,Distrito Federal
554787,2021-09-12T03:00:56.643Z,8.0,0.0,Distrito Federal

# **Centro-Oeste**

In [132]:
frames = [df_DF, df_GO,df_MT,df_MS]
  
df_CO = pd.concat(frames)

In [133]:
df_CO

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
1352,2020-04-09T03:00:00.000Z,3.0,0.0,Distrito Federal
1361,2020-04-10T03:00:00.000Z,2.0,0.0,Distrito Federal
1365,2020-04-11T03:00:00.000Z,1.0,0.0,Distrito Federal
1369,2020-04-12T03:00:00.000Z,1.0,0.0,Distrito Federal
1371,2020-04-14T03:00:00.000Z,1.0,0.0,Distrito Federal
...,...,...,...,...
549110,2021-09-09T04:00:43.181Z,2.0,0.0,Mato Grosso do Sul
551284,2021-09-10T04:00:59.655Z,4.0,0.0,Mato Grosso do Sul
553164,2021-09-11T03:00:04.688Z,3.0,0.0,Mato Grosso do Sul
553355,2021-09-11T04:00:06.062Z,1.0,1.0,Mato Grosso do Sul
554513,2021-09-12T03:00:35.887Z,3.0,0.0,Mato Grosso do Sul

In [134]:
# Ordenando as vacinas pela data de aplicação , em ordem crescente de data
df_CO = df_CO.sort_values(by=['dataNotificacao'])

In [135]:
df_CO

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
545924,2020-01-02T03:00:00.000Z,2.0,0.0,Distrito Federal
546087,2020-01-02T03:00:00.000Z,14.0,2.0,Distrito Federal
550826,2020-01-05T03:00:00.000Z,15.0,0.0,Goiás
552380,2020-01-10T04:00:00.000Z,15.0,2.0,Mato Grosso
550505,2020-01-19T03:00:00.000Z,3.0,0.0,Distrito Federal
...,...,...,...,...
554793,2021-09-12T03:00:45.766Z,0.0,0.0,Goiás
554619,2021-09-12T03:00:48.156Z,0.0,0.0,Distrito Federal
554787,2021-09-12T03:00:56.643Z,8.0,0.0,Distrito Federal
554668,2021-09-12T04:00:15.855Z,0.0,0.0,Mato Grosso
554699,2021-09-12T04:00:44.541Z,7.0,0.0,Mato Grosso

In [136]:
df_CO['dataNotificacao']= pd.to_datetime(df_CO['dataNotificacao'])

In [138]:
df_CO['dataNotificacao'] = pd.to_datetime(df_CO['dataNotificacao']).dt.date

In [144]:
df_CO.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154831 entries, 545924 to 554699
Data columns (total 4 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   dataNotificacao        154831 non-null  object
 1   ocupacaoConfirmadoUti  154831 non-null  float64
 2   saidaConfirmadaObitos  154831 non-null  float64
 3   estadoNotificacao      154831 non-null  object
dtypes: float64(2), object(2)
memory usage: 5.9+ MB

In [140]:
df_CO

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
545924,2020-01-02,2.0,0.0,Distrito Federal
546087,2020-01-02,14.0,2.0,Distrito Federal
550826,2020-01-05,15.0,0.0,Goiás
552380,2020-01-10,15.0,2.0,Mato Grosso
550505,2020-01-19,3.0,0.0,Distrito Federal
...,...,...,...,...
554793,2021-09-12,0.0,0.0,Goiás
554619,2021-09-12,0.0,0.0,Distrito Federal
554787,2021-09-12,8.0,0.0,Distrito Federal
554668,2021-09-12,0.0,0.0,Mato Grosso
554699,2021-09-12,7.0,0.0,Mato Grosso

In [142]:
df_CO['dataNotificacao'] = df_CO['dataNotificacao'].apply(lambda x: str(x))

In [143]:
df_CO

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
545924,2020-01-02,2.0,0.0,Distrito Federal
546087,2020-01-02,14.0,2.0,Distrito Federal
550826,2020-01-05,15.0,0.0,Goiás
552380,2020-01-10,15.0,2.0,Mato Grosso
550505,2020-01-19,3.0,0.0,Distrito Federal
...,...,...,...,...
554793,2021-09-12,0.0,0.0,Goiás
554619,2021-09-12,0.0,0.0,Distrito Federal
554787,2021-09-12,8.0,0.0,Distrito Federal
554668,2021-09-12,0.0,0.0,Mato Grosso
554699,2021-09-12,7.0,0.0,Mato Grosso

# **Separar os DataFrames por mês**

**Janeiro**

In [146]:
df_20_mes = df_CO.query('dataNotificacao.str.startswith("2020-01").values')
df_21_mes = df_CO.query('dataNotificacao.str.startswith("2021-01").values')
df_22_mes = df_CO.query('dataNotificacao.str.startswith("2022-01").values')
df_mes1 = pd.concat([df_20_mes,df_21_mes,df_22_mes])

**Fevereiro**

In [147]:
df_20_mes = df_CO.query('dataNotificacao.str.startswith("2020-02").values')
df_21_mes = df_CO.query('dataNotificacao.str.startswith("2021-02").values')
df_22_mes = df_CO.query('dataNotificacao.str.startswith("2022-02").values')
df_mes2 = pd.concat([df_20_mes,df_21_mes,df_22_mes])

**Março**

In [148]:
df_20_mes = df_CO.query('dataNotificacao.str.startswith("2020-03").values')
df_21_mes = df_CO.query('dataNotificacao.str.startswith("2021-03").values')
df_22_mes = df_CO.query('dataNotificacao.str.startswith("2022-03").values')
df_mes3 = pd.concat([df_20_mes,df_21_mes,df_22_mes])

**Abril**

In [149]:
df_20_mes = df_CO.query('dataNotificacao.str.startswith("2020-04").values')
df_21_mes = df_CO.query('dataNotificacao.str.startswith("2021-04").values')
df_22_mes = df_CO.query('dataNotificacao.str.startswith("2022-04").values')
df_mes4 = pd.concat([df_20_mes,df_21_mes,df_22_mes])

**Maio**

In [150]:
df_20_mes = df_CO.query('dataNotificacao.str.startswith("2020-05").values')
df_21_mes = df_CO.query('dataNotificacao.str.startswith("2021-05").values')
df_22_mes = df_CO.query('dataNotificacao.str.startswith("2022-05").values')
df_mes5 = pd.concat([df_20_mes,df_21_mes,df_22_mes])

**Junho**

In [151]:
df_20_mes = df_CO.query('dataNotificacao.str.startswith("2020-06").values')
df_21_mes = df_CO.query('dataNotificacao.str.startswith("2021-06").values')
df_22_mes = df_CO.query('dataNotificacao.str.startswith("2022-06").values')
df_mes6 = pd.concat([df_20_mes,df_21_mes,df_22_mes])

**Julho**

In [152]:
df_20_mes = df_CO.query('dataNotificacao.str.startswith("2020-07").values')
df_21_mes = df_CO.query('dataNotificacao.str.startswith("2021-07").values')
df_22_mes = df_CO.query('dataNotificacao.str.startswith("2022-07").values')
df_mes7 = pd.concat([df_20_mes,df_21_mes,df_22_mes])

**Agosto**

In [153]:
df_20_mes = df_CO.query('dataNotificacao.str.startswith("2020-08").values')
df_21_mes = df_CO.query('dataNotificacao.str.startswith("2021-08").values')
df_22_mes = df_CO.query('dataNotificacao.str.startswith("2022-08").values')
df_mes8 = pd.concat([df_20_mes,df_21_mes,df_22_mes])

**Setembro**

In [154]:
df_20_mes = df_CO.query('dataNotificacao.str.startswith("2020-09").values')
df_21_mes = df_CO.query('dataNotificacao.str.startswith("2021-09").values')
df_22_mes = df_CO.query('dataNotificacao.str.startswith("2022-09").values')
df_mes9 = pd.concat([df_20_mes,df_21_mes,df_22_mes])

**Outubro**

In [155]:
df_20_mes = df_CO.query('dataNotificacao.str.startswith("2020-10").values')
df_21_mes = df_CO.query('dataNotificacao.str.startswith("2021-10").values')
df_22_mes = df_CO.query('dataNotificacao.str.startswith("2022-10").values')
df_mes10 = pd.concat([df_20_mes,df_21_mes,df_22_mes])

**Novembro**

In [156]:
df_20_mes = df_CO.query('dataNotificacao.str.startswith("2020-11").values')
df_21_mes = df_CO.query('dataNotificacao.str.startswith("2021-11").values')
df_22_mes = df_CO.query('dataNotificacao.str.startswith("2022-11").values')
df_mes11 = pd.concat([df_20_mes,df_21_mes,df_22_mes])

**Dezembro**

In [157]:
df_20_mes = df_CO.query('dataNotificacao.str.startswith("2020-12").values')
df_21_mes = df_CO.query('dataNotificacao.str.startswith("2021-12").values')
df_22_mes = df_CO.query('dataNotificacao.str.startswith("2022-12").values')
df_mes12 = pd.concat([df_20_mes,df_21_mes,df_22_mes])

# **Separar por estado**

**Goiás**

In [158]:
df_GO_mes1 = df_mes1.query('estadoNotificacao.str.startswith("Goiás").values')
df_GO_mes2 = df_mes2.query('estadoNotificacao.str.startswith("Goiás").values')
df_GO_mes3 = df_mes3.query('estadoNotificacao.str.startswith("Goiás").values')
df_GO_mes4 = df_mes4.query('estadoNotificacao.str.startswith("Goiás").values')
df_GO_mes5 = df_mes5.query('estadoNotificacao.str.startswith("Goiás").values')
df_GO_mes6 = df_mes6.query('estadoNotificacao.str.startswith("Goiás").values')

In [159]:
df_GO_mes7 = df_mes7.query('estadoNotificacao.str.startswith("Goiás").values')
df_GO_mes8 = df_mes8.query('estadoNotificacao.str.startswith("Goiás").values')
df_GO_mes9 = df_mes9.query('estadoNotificacao.str.startswith("Goiás").values')
df_GO_mes10 = df_mes10.query('estadoNotificacao.str.startswith("Goiás").values')
df_GO_mes11 = df_mes11.query('estadoNotificacao.str.startswith("Goiás").values')
df_GO_mes12 = df_mes12.query('estadoNotificacao.str.startswith("Goiás").values')

**Mato Grosso**

In [160]:
#MASK = (UFG_CONCEITO['Ano'] >= 2004) & (UFG_CONCEITO['Ano'] <= 2006)
#UFG_Conceito_04_06 = UFG_CONCEITO[MASK]

In [161]:
df_MT_mes1 = df_mes1.query('estadoNotificacao.str.startswith("Mato Grosso").values')
df_MT_mes2 = df_mes2.query('estadoNotificacao.str.startswith("Mato Grosso").values')
df_MT_mes3 = df_mes3.query('estadoNotificacao.str.startswith("Mato Grosso").values')
df_MT_mes4 = df_mes4.query('estadoNotificacao.str.startswith("Mato Grosso").values')
df_MT_mes5 = df_mes5.query('estadoNotificacao.str.startswith("Mato Grosso").values')
df_MT_mes6 = df_mes6.query('estadoNotificacao.str.startswith("Mato Grosso").values')

In [162]:
df_MT_mes7 = df_mes7.query('estadoNotificacao.str.startswith("Mato Grosso").values')
df_MT_mes8 = df_mes8.query('estadoNotificacao.str.startswith("Mato Grosso").values')
df_MT_mes9 = df_mes9.query('estadoNotificacao.str.startswith("Mato Grosso").values')
df_MT_mes10 = df_mes10.query('estadoNotificacao.str.startswith("Mato Grosso").values')
df_MT_mes11 = df_mes11.query('estadoNotificacao.str.startswith("Mato Grosso").values')
df_MT_mes12 = df_mes12.query('estadoNotificacao.str.startswith("Mato Grosso").values')

**Mato Grosso do Sul**

In [163]:
df_MS_mes1 = df_mes1.query('estadoNotificacao.str.startswith("Mato Grosso do Sul").values')
df_MS_mes2 = df_mes2.query('estadoNotificacao.str.startswith("Mato Grosso do Sul").values')
df_MS_mes3 = df_mes3.query('estadoNotificacao.str.startswith("Mato Grosso do Sul").values')
df_MS_mes4 = df_mes4.query('estadoNotificacao.str.startswith("Mato Grosso do Sul").values')
df_MS_mes5 = df_mes5.query('estadoNotificacao.str.startswith("Mato Grosso do Sul").values')
df_MS_mes6 = df_mes6.query('estadoNotificacao.str.startswith("Mato Grosso do Sul").values')

In [164]:
df_MS_mes7 = df_mes7.query('estadoNotificacao.str.startswith("Mato Grosso do Sul").values')
df_MS_mes8 = df_mes8.query('estadoNotificacao.str.startswith("Mato Grosso do Sul").values')
df_MS_mes9 = df_mes9.query('estadoNotificacao.str.startswith("Mato Grosso do Sul").values')
df_MS_mes10 = df_mes10.query('estadoNotificacao.str.startswith("Mato Grosso do Sul").values')
df_MS_mes11 = df_mes11.query('estadoNotificacao.str.startswith("Mato Grosso do Sul").values')
df_MS_mes12 = df_mes12.query('estadoNotificacao.str.startswith("Mato Grosso do Sul").values')

**Distrito Federal**

In [165]:
df_DF_mes1 = df_mes1.query('estadoNotificacao.str.startswith("Distrito Federal").values')
df_DF_mes2 = df_mes2.query('estadoNotificacao.str.startswith("Distrito Federal").values')
df_DF_mes3 = df_mes3.query('estadoNotificacao.str.startswith("Distrito Federal").values')
df_DF_mes4 = df_mes4.query('estadoNotificacao.str.startswith("Distrito Federal").values')
df_DF_mes5 = df_mes5.query('estadoNotificacao.str.startswith("Distrito Federal").values')
df_DF_mes6 = df_mes6.query('estadoNotificacao.str.startswith("Distrito Federal").values')

In [166]:
df_DF_mes7 = df_mes7.query('estadoNotificacao.str.startswith("Distrito Federal").values')
df_DF_mes8 = df_mes8.query('estadoNotificacao.str.startswith("Distrito Federal").values')
df_DF_mes9 = df_mes9.query('estadoNotificacao.str.startswith("Distrito Federal").values')
df_DF_mes10 = df_mes10.query('estadoNotificacao.str.startswith("Distrito Federal").values')
df_DF_mes11 = df_mes11.query('estadoNotificacao.str.startswith("Distrito Federal").values')
df_DF_mes12 = df_mes12.query('estadoNotificacao.str.startswith("Distrito Federal").values')