<a href="https://colab.research.google.com/github/IBeliveInMagic/Covid_Dados/blob/main/Covid_19_Ocupation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
#Ocupation- 2020
!wget https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2020.csv
#Ocupation- 2021
!wget https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2021.csv
#Ocupation- 2022
!wget https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2022.csv

--2022-08-01 01:52:41--  https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2020.csv
Resolving s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)... 52.95.164.100
Connecting to s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)|52.95.164.100|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 124779568 (119M) [binary/octet-stream]
Saving to: ‘esus-vepi.LeitoOcupacao_2020.csv.2’

esus-vepi.LeitoOcup 100%[===================>] 119.00M  21.1MB/s    in 6.5s

2022-08-01 01:52:48 (18.3 MB/s) - ‘esus-vepi.LeitoOcupacao_2020.csv.2’ saved [124779568/124779568]

--2022-08-01 01:52:49--  https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2021.csv
Resolving s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)... 52.95.163.35
Connecting to s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)|52.95.163.35|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 166963859 (159M) [binary/octet-stream]
Saving to: ‘esus-vepi.LeitoOcupacao_2021.csv.2’

esus-vepi.LeitoOcup 100%[===================>] 159.23M  23.0MB/s    in 7.8s

2022-08-01 01:52:57 (20.3 MB/s) - ‘esus-vepi.LeitoOcupacao_2021.csv.2’ saved [166963859/166963859]

--2022-08-01 01:52:57--  https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2022.csv
Resolving s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)... 52.95.165.92
Connecting to s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)|52.95.165.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45256733 (43M) [binary/octet-stream]
Saving to: ‘esus-vepi.LeitoOcupacao_2022.csv.2’

esus-vepi.LeitoOcup 100%[===================>]  43.16M  14.8MB/s    in 2.9s

2022-08-01 01:53:01 (14.8 MB/s) - ‘esus-vepi.LeitoOcupacao_2022.csv.2’ saved [45256733/45256733]

In [70]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from datetime import datetime,timedelta

In [71]:
data_2020 = pd.read_csv('esus-vepi.LeitoOcupacao_2020.csv', sep=',')
data_2021 = pd.read_csv('esus-vepi.LeitoOcupacao_2021.csv', sep=',')
data_2022 = pd.read_csv('esus-vepi.LeitoOcupacao_2022.csv', sep=',')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [72]:
data_2020

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,excluido,validado,_created_at,_updated_at
0,0,p5Ez41Zu6B,2020-04-14T03:00:00.000Z,2303167,0.0,0.0,0.0,0.0,NaN,NaN,...,aplicacao-web,_User$auVMjEVEVz,Santa Catarina,Itapema,Santa Catarina,Itapema,True,False,2020-04-15T13:44:30.085Z,2020-04-16T13:56:13.656Z
1,1,eUOMsSt7T7,2020-04-15T03:00:00.000Z,5935377\t,1.0,0.0,0.0,0.0,NaN,NaN,...,parse-cloud,_User$WBa5nfe9P9,Rio de Janeiro,Rio de Janeiro,Rio de Janeiro,Rio de Janeiro,False,False,2020-04-15T13:50:47.256Z,2020-08-01T20:08:13.116Z
2,2,QaG4oIBrMa,2020-04-15T14:57:16.255Z,0012599,15.0,1.0,3.0,2.0,NaN,NaN,...,parse-cloud,_User$6oxZQHBPQ7,Rio de Janeiro,Niterói,Rio de Janeiro,Niterói,False,False,2020-04-15T15:20:57.033Z,2020-08-01T20:02:12.729Z
3,3,ifya31F3ZF,2020-03-24T03:00:00.000Z,2562871,9.0,0.0,1.0,0.0,NaN,NaN,...,parse-cloud,_User$fhufIbmR9C,Ceará,Várzea Alegre,Ceará,Várzea Alegre,False,False,2020-04-15T16:58:32.839Z,2020-08-01T21:40:37.624Z
4,4,dkurDhelx9,2020-04-01T03:00:00.000Z,2252228,26.0,0.0,1.0,0.0,NaN,NaN,...,parse-cloud,_User$tkAdHTNhC9,Rio Grande do Sul,Encantado,Rio Grande do Sul,Encantado,False,False,2020-04-15T17:02:53.877Z,2020-08-01T21:37:53.664Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554666,1436535,Yydh4BmLBz,2020-04-04T03:00:00.000Z,2302543,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$6aMgFYR3IC,Santa Catarina,Salto Veloso,Santa Catarina,Salto Veloso,False,False,2022-04-12T21:39:58.007Z,2022-04-12T21:39:58.007Z
554667,1436543,5sTtEDtBkH,2020-04-10T03:00:00.000Z,2302543,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$6aMgFYR3IC,Santa Catarina,Salto Veloso,Santa Catarina,Salto Veloso,False,False,2022-04-12T21:42:19.105Z,2022-04-12T21:42:19.105Z
554668,1438045,MEal2ztfaM,2020-04-02T03:00:00.000Z,2696746,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$gYJBXS8XAc,Rio de Janeiro,São Gonçalo,Rio de Janeiro,São Gonçalo,False,False,2022-04-13T19:47:30.375Z,2022-04-13T19:47:30.375Z
554669,1452832,asz0wGtuev,2020-04-23T03:00:00.000Z,2468271,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$s2PrPBfqeg,Tocantins,Pedro Afonso,Tocantins,Pedro Afonso,False,False,2022-04-25T14:52:32.915Z,2022-04-25T14:52:32.915Z
554670,1479600,VTrBWNtAxk,2020-05-19T03:00:00.000Z,2611201,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$sGGyNUyGp3,Ceará,Banabuiú,Ceará,Banabuiú,False,False,2022-05-20T11:44:25.398Z,2022-05-20T11:44:25.398Z

In [73]:
data_2020.columns

Index(['Unnamed: 0', '_id', 'dataNotificacao', 'cnes', 'ocupacaoSuspeitoCli',
       'ocupacaoSuspeitoUti', 'ocupacaoConfirmadoCli', 'ocupacaoConfirmadoUti',
       'ocupacaoCovidUti', 'ocupacaoCovidCli', 'ocupacaoHospitalarUti',
       'ocupacaoHospitalarCli', 'saidaSuspeitaObitos', 'saidaSuspeitaAltas',
       'saidaConfirmadaObitos', 'saidaConfirmadaAltas', 'origem', '_p_usuario',
       'estadoNotificacao', 'municipioNotificacao', 'estado', 'municipio',
       'excluido', 'validado', '_created_at', '_updated_at'],
      dtype='object')

In [74]:
df_2020 = data_2020.iloc[: , [2,7,14,18]]

In [75]:
df_2020_clear = df_2020.dropna()

In [76]:
df_2020_clear

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
0,2020-04-14T03:00:00.000Z,0.0,0.0,Santa Catarina
1,2020-04-15T03:00:00.000Z,0.0,0.0,Rio de Janeiro
2,2020-04-15T14:57:16.255Z,2.0,0.0,Rio de Janeiro
3,2020-03-24T03:00:00.000Z,0.0,0.0,Ceará
4,2020-04-01T03:00:00.000Z,0.0,0.0,Rio Grande do Sul
...,...,...,...,...
554295,2020-10-15T03:00:00.000Z,0.0,0.0,Rio de Janeiro
554296,2020-10-14T03:00:00.000Z,0.0,0.0,Rio de Janeiro
554297,2020-10-13T03:00:00.000Z,0.0,0.0,Rio de Janeiro
554298,2020-10-12T03:00:00.000Z,0.0,0.0,Rio de Janeiro
554299,2020-10-11T03:00:00.000Z,0.0,0.0,Rio de Janeiro

In [77]:
# filtrar linhas e ficar somente com os estados do Centro Oeste - Goiás
df_mask=df_2020_clear['estadoNotificacao']=='Goiás'
df_2020_GO = df_2020_clear[df_mask]

In [78]:
df_2020_GO

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
81,2020-04-15T03:00:00.000Z,0.0,0.0,Goiás
107,2020-04-15T19:37:37.168Z,0.0,0.0,Goiás
123,2020-04-15T20:04:33.257Z,0.0,0.0,Goiás
124,2020-04-15T19:58:37.058Z,0.0,0.0,Goiás
187,2020-04-15T03:00:00.000Z,0.0,0.0,Goiás
...,...,...,...,...
551165,2020-12-27T03:00:00.000Z,18.0,1.0,Goiás
551166,2020-12-28T03:00:00.000Z,19.0,0.0,Goiás
551168,2020-12-29T03:00:00.000Z,21.0,0.0,Goiás
551169,2020-12-31T03:00:00.000Z,19.0,0.0,Goiás
552047,2020-04-13T03:00:00.000Z,14.0,1.0,Goiás

In [79]:
# filtrar linhas e ficar somente com os estados do Centro Oeste - Mato Grosso
df_mask=df_2020_clear['estadoNotificacao']=='Mato Grosso'
df_2020_MT = df_2020_clear[df_mask]

In [80]:
df_2020_MT

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
786,2020-04-16T04:00:00.000Z,0.0,0.0,Mato Grosso
1896,2020-04-18T13:48:18.691Z,0.0,0.0,Mato Grosso
2126,2020-04-19T14:20:40.207Z,0.0,0.0,Mato Grosso
2355,2020-04-20T13:53:53.120Z,0.0,0.0,Mato Grosso
2439,2020-04-20T03:00:00.000Z,0.0,0.0,Mato Grosso
...,...,...,...,...
552211,2020-12-18T04:00:00.000Z,3.0,1.0,Mato Grosso
552287,2020-12-24T04:00:00.000Z,10.0,3.0,Mato Grosso
552288,2020-12-30T04:00:00.000Z,14.0,0.0,Mato Grosso
552289,2020-12-31T04:00:00.000Z,13.0,0.0,Mato Grosso
552380,2020-01-10T04:00:00.000Z,15.0,2.0,Mato Grosso

In [81]:
# filtrar linhas e ficar somente com os estados do Centro Oeste - Mato Grosos do Sul
df_mask=df_2020_clear['estadoNotificacao']=='Mato Grosso do Sul'
df_2020_MS = df_2020_clear[df_mask]

In [82]:
df_2020_MS

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
62,2020-04-15T19:18:27.505Z,10.0,0.0,Mato Grosso do Sul
78,2020-04-01T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
79,2020-04-02T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
80,2020-04-03T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
82,2020-04-15T19:46:53.541Z,0.0,0.0,Mato Grosso do Sul
...,...,...,...,...
549842,2020-07-09T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
549843,2020-07-07T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
549844,2020-12-29T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
549845,2020-12-30T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
549846,2020-12-31T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul

In [83]:
# filtrar linhas e ficar somente com os estados do Centro Oeste - Distrito Federal
df_mask=df_2020_clear['estadoNotificacao']=='Distrito Federal'
df_2020_DF = df_2020_clear[df_mask]

In [84]:
df_2020_DF

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
1352,2020-04-09T03:00:00.000Z,3.0,0.0,Distrito Federal
1361,2020-04-10T03:00:00.000Z,2.0,0.0,Distrito Federal
1365,2020-04-11T03:00:00.000Z,1.0,0.0,Distrito Federal
1369,2020-04-12T03:00:00.000Z,1.0,0.0,Distrito Federal
1371,2020-04-14T03:00:00.000Z,1.0,0.0,Distrito Federal
...,...,...,...,...
552605,2020-12-29T03:00:00.000Z,16.0,1.0,Distrito Federal
552606,2020-12-30T03:00:00.000Z,16.0,0.0,Distrito Federal
552607,2020-12-31T03:00:00.000Z,18.0,1.0,Distrito Federal
553401,2020-05-23T03:00:00.000Z,20.0,0.0,Distrito Federal
554198,2020-02-27T03:00:00.000Z,0.0,0.0,Distrito Federal

In [85]:
frames = [df_2020_DF, df_2020_GO,df_2020_MT,df_2020_MS]
  
df_2020_CO = pd.concat(frames)

In [86]:
df_2020_CO

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
1352,2020-04-09T03:00:00.000Z,3.0,0.0,Distrito Federal
1361,2020-04-10T03:00:00.000Z,2.0,0.0,Distrito Federal
1365,2020-04-11T03:00:00.000Z,1.0,0.0,Distrito Federal
1369,2020-04-12T03:00:00.000Z,1.0,0.0,Distrito Federal
1371,2020-04-14T03:00:00.000Z,1.0,0.0,Distrito Federal
...,...,...,...,...
549842,2020-07-09T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
549843,2020-07-07T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
549844,2020-12-29T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
549845,2020-12-30T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul
549846,2020-12-31T03:00:00.000Z,0.0,0.0,Mato Grosso do Sul

In [87]:
#converter a coluna vacina_dataAplicacao para o tipo datetime
df_2020_CO[['dataNotificacao']] = df_2020_CO[['dataNotificacao']].apply(pd.to_datetime)

In [88]:
df_2020_CO

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
1352,2020-04-09 03:00:00+00:00,3.0,0.0,Distrito Federal
1361,2020-04-10 03:00:00+00:00,2.0,0.0,Distrito Federal
1365,2020-04-11 03:00:00+00:00,1.0,0.0,Distrito Federal
1369,2020-04-12 03:00:00+00:00,1.0,0.0,Distrito Federal
1371,2020-04-14 03:00:00+00:00,1.0,0.0,Distrito Federal
...,...,...,...,...
549842,2020-07-09 03:00:00+00:00,0.0,0.0,Mato Grosso do Sul
549843,2020-07-07 03:00:00+00:00,0.0,0.0,Mato Grosso do Sul
549844,2020-12-29 03:00:00+00:00,0.0,0.0,Mato Grosso do Sul
549845,2020-12-30 03:00:00+00:00,0.0,0.0,Mato Grosso do Sul
549846,2020-12-31 03:00:00+00:00,0.0,0.0,Mato Grosso do Sul

In [89]:
# Ordenando as vacinas pela data de aplicação , em ordem crescente de data
df_2020_CO.sort_values(by=['dataNotificacao'])

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
545924,2020-01-02 03:00:00+00:00,2.0,0.0,Distrito Federal
546087,2020-01-02 03:00:00+00:00,14.0,2.0,Distrito Federal
550826,2020-01-05 03:00:00+00:00,15.0,0.0,Goiás
552380,2020-01-10 04:00:00+00:00,15.0,2.0,Mato Grosso
550505,2020-01-19 03:00:00+00:00,3.0,0.0,Distrito Federal
...,...,...,...,...
544673,2020-12-31 18:39:50+00:00,0.0,0.0,Mato Grosso do Sul
544627,2020-12-31 18:42:06+00:00,0.0,0.0,Mato Grosso do Sul
544659,2020-12-31 21:51:29+00:00,0.0,0.0,Mato Grosso do Sul
544670,2020-12-31 22:30:09+00:00,0.0,0.0,Mato Grosso do Sul
544676,2020-12-31 22:54:01+00:00,0.0,0.0,Mato Grosso do Sul

In [90]:
df_2020_CO

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao
1352,2020-04-09 03:00:00+00:00,3.0,0.0,Distrito Federal
1361,2020-04-10 03:00:00+00:00,2.0,0.0,Distrito Federal
1365,2020-04-11 03:00:00+00:00,1.0,0.0,Distrito Federal
1369,2020-04-12 03:00:00+00:00,1.0,0.0,Distrito Federal
1371,2020-04-14 03:00:00+00:00,1.0,0.0,Distrito Federal
...,...,...,...,...
549842,2020-07-09 03:00:00+00:00,0.0,0.0,Mato Grosso do Sul
549843,2020-07-07 03:00:00+00:00,0.0,0.0,Mato Grosso do Sul
549844,2020-12-29 03:00:00+00:00,0.0,0.0,Mato Grosso do Sul
549845,2020-12-30 03:00:00+00:00,0.0,0.0,Mato Grosso do Sul
549846,2020-12-31 03:00:00+00:00,0.0,0.0,Mato Grosso do Sul

In [98]:
# Tentativa de separar a hora da data na variável dataNotificacao
#df_2020_CO['dataNotificacao'].str.split(' ', expand=True)

In [99]:
df2 = pd.DataFrame({
  "data_Notificacao": df_2020_CO['dataNotificacao'].dt.date  
})

In [100]:
df2

       data_Notificacao
1352         2020-04-09
1361         2020-04-10
1365         2020-04-11
1369         2020-04-12
1371         2020-04-14
...                 ...
549842       2020-07-09
549843       2020-07-07
549844       2020-12-29
549845       2020-12-30
549846       2020-12-31

[83510 rows x 1 columns]

In [101]:
Result_CO_2020 = pd.concat([df_2020_CO,df2])

In [102]:
#Result_CO_2020 = Result_CO_2020.iloc[: , [1,2,3]]

In [103]:
Result_CO_2020

,dataNotificacao,ocupacaoConfirmadoUti,saidaConfirmadaObitos,estadoNotificacao,data_Notificacao
1352,2020-04-09 03:00:00+00:00,3.0,0.0,Distrito Federal,NaN
1361,2020-04-10 03:00:00+00:00,2.0,0.0,Distrito Federal,NaN
1365,2020-04-11 03:00:00+00:00,1.0,0.0,Distrito Federal,NaN
1369,2020-04-12 03:00:00+00:00,1.0,0.0,Distrito Federal,NaN
1371,2020-04-14 03:00:00+00:00,1.0,0.0,Distrito Federal,NaN
...,...,...,...,...,...
549842,NaT,NaN,NaN,NaN,2020-07-09
549843,NaT,NaN,NaN,NaN,2020-07-07
549844,NaT,NaN,NaN,NaN,2020-12-29
549845,NaT,NaN,NaN,NaN,2020-12-30
549846,NaT,NaN,NaN,NaN,2020-12-31

In [104]:
df_mes1 = Result_CO_2020.query(" data_Notificacao >= '2020-01-01' and data_Notificacao <= '2020-01-31'")
df_mes2 = Result_CO_2020.query(" data_Notificacao >= '2020-02-01' and data_Notificacao <= '2020-02-28'")
df_mes3 = Result_CO_2020.query(" data_Notificacao >= '2020-03-01' and data_Notificacao <= '2020-03-30'")
df_mes4 = Result_CO_2020.query(" data_Notificacao >= '2020-04-01' and data_Notificacao <= '2020-04-30'")
df_mes5 = Result_CO_2020.query(" data_Notificacao >= '2020-05-01' and data_Notificacao <= '2020-05-30'")
df_mes6 = Result_CO_2020.query(" data_Notificacao >= '2020-06-01' and data_Notificacao <= '2020-06-30'")

TypeError: ignored

In [ ]:
df_GO3_mes7 = Result_CO_2020.query(" data_Notificacao >= '2020-07-01' and data_Notificacao <= '2020-07-31'")
df_GO3_mes8 = Result_CO_2020.query(" data_Notificacao >= '2020-08-01' and data_Notificacao <= '2020-08-28'")
df_GO3_mes9 = Result_CO_2020.query(" data_Notificacao >= '2020-09-01' and data_Notificacao <= '2020-09-30'")
df_GO3_mes10 = Result_CO_2020.query(" data_Notificacao >= '2020-10-01' and data_Notificacao <= '2020-10-30'")
df_GO3_mes11 = Result_CO_2020.query(" data_Notificacao >= '2020-11-01' and data_Notificacao <= '2020-11-30'")
df_GO3_mes12 = Result_CO_2020.query(" data_Notificacao >= '2020-12-01' and data_Notificacao <= '2020-12-30'")